<footer class="site-footer">
  <div class="container">
    <h2>Nice to see you here!</h2>

    <div class="footer-content">
      <div>
        <address>
          <a href="tel:+16475331066">647-533-1066</a>
          <a href="mailto:fengalex671@gmail.com">fengalex671@gmail.com</a>
        </address>
        <p class="footer-copyright">&copy; <span id="year">2026</span> Shiran.</p>
      </div>

      <nav class="footer-links" aria-label="Footer navigation">
        <a href="__ROOT__projects/index.html">Projects</a>
        <a href="__ROOT__work.html">Work</a>
        <a href="__ROOT__gallery.html">Gallery</a>
        <a href="__ROOT__assets/resume.pdf" download>Download Resume</a>
      </nav>
    </div>
  </div>
</footer>
