<nav class="navbar navbar-expand-md site-header">
  <div class="container">
    <a class="navbar-brand" href="__ROOT__" aria-label="Home" aria-disabled="true" tabindex="-1">
      <img src="__ROOT__assets/logo_black.png" alt="Shiran">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-disabled="true" tabindex="-1">Projects</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="__ROOT__projects/" aria-disabled="true" tabindex="-1">All Projects</a></li>
            <li><a class="dropdown-item" href="__ROOT__projects/draw/" aria-disabled="true" tabindex="-1">Draw</a></li>
            <li><a class="dropdown-item" href="__ROOT__projects/baguio/" aria-disabled="true" tabindex="-1">Baguio</a></li>
            <li><a class="dropdown-item" href="__ROOT__projects/pin-it-down/" aria-disabled="true" tabindex="-1">Pin It Down</a></li>
            <li><a class="dropdown-item" href="__ROOT__projects/powder-report/" aria-disabled="true" tabindex="-1">Powder Report</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="__ROOT__work/" aria-disabled="true" tabindex="-1">Work</a></li>
        <li class="nav-item"><a class="nav-link" href="__ROOT__gallery/" aria-disabled="true" tabindex="-1">Gallery</a></li>
        <li class="nav-item"><a class="nav-link" href="__ROOT__assets/resume.pdf" download aria-disabled="true" tabindex="-1">Download Resume</a></li>
      </ul>
    </div>
  </div>
</nav>
