<nav class="navbar navbar-expand-md site-header">
  <div class="container">
    <a class="navbar-brand" href="__ROOT__index.html" aria-label="Home">
      <img src="__ROOT__assets/logo_black.png" alt="Shiran">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Projects</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="__ROOT__projects/index.html">All Projects</a></li>
            <li><a class="dropdown-item" href="__ROOT__projects/project-1.html">Project 1</a></li>
            <li><a class="dropdown-item" href="__ROOT__projects/project-2.html">Project 2</a></li>
            <li><a class="dropdown-item" href="__ROOT__projects/project-3.html">Project 3</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="__ROOT__work.html">Work</a></li>
        <li class="nav-item"><a class="nav-link" href="__ROOT__gallery.html">Gallery</a></li>
        <li class="nav-item"><a class="nav-link" href="__ROOT__assets/resume.pdf" download>Download Resume</a></li>
      </ul>
    </div>
  </div>
</nav>
